<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns: xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update page</title>
</head>
<body>
<div>
    <h2>Update user</h2>
    <div th:if="${passwordError}">
        <p style="color: red;">Incorrect password. Please enter the correct password.</p>
    </div>
    <form method="POST" th:action="@{/changeCredentials}" th:object="${user}">
        <input type="hidden" th:field="*{id}"/>
        <label for="email">email</label>
        <input type="text" th:field="*{email}" id="email"/>
        <label for="firstname">firstname</label>
        <input type="text" th:field="*{firstName}" id="firstname"/>
        <label for="lastname">lastname</label>
        <input type="text" th:field="*{lastName}" id="lastname"/>
        <input type="hidden" th:field="*{roles}"/>
        <label for="oldPassword">oldPassword</label>
        <input type="password" name="oldPassword" id="oldPassword"/>
        <br>
        <label for="newPassword">New Password (Optional):</label>
        <input type="password" id="newPassword" name="newPassword"/>
        <input type="submit" value="Update user"/>
    </form>
    <br>
    <a th:if="${user != null && user.roles.contains(T(ru.itmentor.spring.boot_security.demo.model.Role).MANAGER)}" th:href="@{/manager/index}">All Users</a>
    <a th:if="${user != null && user.roles.contains(T(ru.itmentor.spring.boot_security.demo.model.Role).USER)}" th:href="@{/user/index}">All Users</a>
</div>
</body>
</html>