<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns: xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update page</title>
</head>
<body>
<div>
    <h2>Update user</h2>

    <form method="POST" th:action="@{/updateUser}" th:object="${user}">
        <input type="hidden" th:field="*{id}"/>
        <label for="email">email</label>
        <input type="text" th:field="*{email}" id="email"/>
        <label for="firstname">firstname</label>
        <input type="text" th:field="*{firstName}" id="firstname"/>
        <label for="lastname">lastname</label>
        <input type="text" th:field="*{lastName}" id="lastname"/>
        <input type="hidden" th:field="*{password}"/>
        <label th:if="${currentUser != null && currentUser.getUser().getRoles().contains(T(ru.itmentor.spring.boot_security.demo.model.Role).ADMIN)}"
               th:each="role : ${roles}" th:for="${'role_' + role}" th:classappend="${' role-' + role.name()}">
            <input type="checkbox" th:id="${'role_' + role}" name="roles" th:value="${role}"
                   th:checked="${user.getRoles().contains(role)}"/>
            <span th:text="${role.name()}"></span>
        </label>
        <input type="submit" value="Update user"/>
    </form>
    <br>
    <a th:href="${currentUser != null && currentUser.getUser().getRoles().contains(T(ru.itmentor.spring.boot_security.demo.model.Role).USER) ? '/user/index' : (currentUser != null && currentUser.getUser().getRoles().contains(T(ru.itmentor.spring.boot_security.demo.model.Role).MANAGER) ? '/manager/index' : '/admin/index')}">
        Back to All Users</a>

</div>
</body>
</html>